body{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #e8e8e8;
}

.header{
    background-color: black;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 5px 120px;
    position: sticky;
    top: 0px;
    text-align: center;
    z-index: 10;
}
#no-decoration{
     text-decoration: none;
 }
#user-image{
    width: 40px;
    height: 40px;
}
.header-list{
    align-items: center;
    color: #ffffff;
    display: flex;
    font-size: 20px;
    text-decoration: none;
}

.header-user{
    height: 49px;
    width: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-list > a{
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.header-img{
    display: flex;
    color: white;
    width: 100%;
}

.img{
    width:100%;
    height: 575px
}

.text{
    position: absolute;
    top: 190px;
    left: 565px;
    margin: auto;
}

.img-text{
    text-align: center;
    font-size: 60px;
}

.container{
    display: flex;
    width: calc(100% - 20px);
    margin: 10px;
}

#menu{
    width: 1000px;
    height: 1000px;
    padding: 5px;
}

.menu-title{
    height: 40px;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 60px;
    z-index: 6;
    color: #ffffff;
    margin: -2px 31px -8px 15px;
    background-color: #5f5f5f;
}

.menu-allitem{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 30%;
    cursor: pointer;
}

.menu-allitem:hover{
    background-color: black;
    color: #ffffff;
}

.menu-beverage{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 30%;
    cursor: pointer;
}

.menu-beverage:hover{
    background-color: black;
    color: #ffffff;
}

.menu-snacks{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 30%;
    cursor: pointer;
}

.menu-snacks:hover{
    background-color: black;
    color: #ffffff;
}

.items{
    /*border: 1px solid black;*/
    height: 790px;
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.item1{
    width: 210px;
    height: 280px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

.item1:hover{
    box-shadow: 0 0 5px 2px rgb(244, 125, 66);
}

.item1-img{
    width: 100%;
    height: 200px;
}



.item1-detail{
    display: flex;
    flex-direction: column;
    height: 80px;
    background-color: #ebedea;
}

.item1-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 40px;
}

.item1-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height:36px;
    width: 125px;
    margin:5px auto ;
    background-color: #3b3c3d;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.container-display{
    width: 418px;
    height: 1000px;
    padding: 5px;
    /*border: 1px solid black;*/
    position: sticky;
    top: 52px;
    display:flex;
    flex-direction: column;
}


.orderlist{
    height: 500px;
    padding: 5px;
    border: 1px solid #5e5e5e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}


.orderlist-title{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #5f5f5f;
    color: #ffffff;
}

.orderlist-display{
    flex-direction: column;
    height: 380px;
    overflow: auto;
    padding: 10px 5px;
}

.orderlist-item{
    display: flex;
    height: 70px;
    padding: 2px 5px;
    margin-bottom: 10px;
    background-color: #dbdbdb;
}

.orderlist-item-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
}

.orderlist-item-name{
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.orderlist-item-btn{
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 30px;
    margin: auto;
}

.item-btn-minus{
    width: 30px;
    background-color: #898989;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.item-btn-value{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    font-size: 15px;
}

.item-btn-plus{
    width: 30px;
    background-color: #898989;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.orderlist-item-cancel-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    margin: auto;
    background-color: #d02139;
    color: #ffffff;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
}

.orderlist-placeorder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    margin: auto;
}

.btn-placeorder{
    width: 100%;
    height: 45px;
    margin-top: auto;
    font-size: 22px;
    color: white;
    cursor: pointer;
    background-color: #d02139;
    border-radius: 5px;
}

.order-container{
    height: 500px;
    margin-top: 10px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.ordername{
    height: 60px;
    display: flex;
    background-color:#5f5f5f;
    color: #ffffff;
    font-size: 20px;
}

.ordername-pending{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
    height: auto;
}
/*.ordername-pending:hover{*/
    /*background-color: black;*/
/*}*/
.ordername-history{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.ordername-history:hover{
    background-color: black;
}

.ordername-pending-order{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.order-pending1{
    display: flex;
    min-height: 90px;
    width: 100%;
    /*border: 1px solid black;*/
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2);
}

.pendingorder-display{
    padding: 2px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.display-order{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 70px;
    width: 250px;
}

.tableno-time{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 200px;
    margin: auto;
    border-top: 1px solid black;
}

.status-btn{
    display: flex;
    width: 85px;
    height: 50px;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #5bc0de;
    color: #ffffff;
    border-radius: 5px;
}

.cancel-btn{
    display: flex;
    width: 35px;
    height: 35px;
    margin: auto 7px;
    justify-content: center;
    align-items: center;
    background-color: #d02139;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.Loading-img{

}




